<form>
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment ($)</label>
            <input id="initial-investment" type="number"/>
        </p>
        <p>
            <label for="annual-investment">Annual Investment ($)</label>
            <input id="annual-investment" type="number"/>
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return (%)</label>
            <input id="expected-return" type="number"/>
        </p>
        <p>
            <label for="investment-duration">Investment Duration (years)</label>
            <input id="investment-duration" type="number"/>
        </p>
    </div>
    <p>
        <button type="submit">Calculate</button>
    </p>
</form>