<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment ($)</label>
            <input id="initial-investment" name="initialInvestment"type="number" [(ngModel)]="enteredInitialInvestment" />
        </p>
        <p>
            <label for="annual-investment">Annual Investment ($)</label>
            <input id="annual-investment" name="annualInvestment" type="number" [(ngModel)]="enteredAnnualInvestment" />
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return (%)</label>
            <input id="expected-return" name="expectedReturn" type="number" [(ngModel)]="enteredExpectedReturn"/>
        </p>
        <p>
            <label for="investment-duration">Investment Duration (years)</label>
            <input id="investment-duration" name="investmentDuration" type="number" [(ngModel)]="enteredInvestmentDuration"/>
        </p>
    </div>
    <p>
        <button type="submit">Calculate</button>
    </p>
</form>