<article
  [class]="{
    'status-open': task().status === 'OPEN',
    'status-in-progress': task().status === 'IN_PROGRESS',
    'status-done': task().status === 'DONE'
  }"
>
  <header>
    <h3>{{ task().title }}</h3>
    <p>{{ taskStatus() }}</p>
  </header>
  <p>{{ task().description }}</p>
  <form (ngSubmit)="onChangeTaskStatus(task().id, status.value)">
    <select #status>
      @for (options of taskStatusOptions; track options.value) {
        <option [value]="options.value" [selected]="task().status === options.taskStatus">
          {{ options.text }}
        </option>
      }
    </select>
    <p>
      <button>Change Status</button>
    </p>
  </form>
</article>
